.home {
    height: 100vh;

    &__container {
        height: 100%;

        display: flex;
        align-items: stretch;

        position: relative;
    }

    &__sidebar {
        min-width: 250px;
        
        padding: 25px 20px;

        box-shadow: 0px 0px 20px rgba(204, 204, 204, 0.5);

        @media screen and (max-width: 768px) {
            height: 100%;

            position: absolute;
            z-index: 100;
            top: 0;
            left: 0;

            background-color: $white;

            transform: translateX(-100%);

            transition: transform .5s ease-in-out;

            &.active {
                transform: translateX(0);
            }
        }
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 20px;
    }

    &__title-close {
        display: none;

        @media screen and (max-width: 768px) {
            width: 30px;

            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                stroke: $color;

                cursor: pointer;
            }
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;

        gap: 10px;

        li {
            width: 100%;
        }

        a {
            display: flex;
            align-items: center;

            padding: 8px;

            border-radius: 5px;

            text-decoration: none;

            &.router-link-active {
                background-color: $secondary-color;
            }
        }

        svg {
            width: 24px;

            margin-right: 10px;

            stroke: $primary-color;
        }
    }

    &__content {
        flex: 1;
        height: 100%;

        overflow: hidden;

        &__container {
            height: 100%;

            display: flex;
            flex-direction: column;

            padding: 25px;
        }
    }

    &__head {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        margin-bottom: 20px;
    }

    &__head-brand {
        display: flex;
        align-items: stretch;
    }

    &__head-burger {
        display: none;
        align-items: center;

        margin-right: 10px;

        svg {
            width: 40px;

            stroke: $color;

            cursor: pointer;
        }

        @media screen and (max-width: 768px) {
            display: flex;
        }
    }

    &__page-title {
        font-size: 2rem;
    }

    &__add-task {
        width: 40px;
        height: 40px;

        padding: 5px;

        border: 2px solid $primary-color;
        border-radius: 5px;

        stroke: $primary-color;

        cursor: pointer;
    }

    &__columns {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;

        flex: 1;
        gap: 25px;

        overflow-x: auto;
    }

    &__column {
        max-width: 450px;
        min-width: 300px;
        
        display: flex;
        flex-direction: column;
        flex: 1;

        z-index: 10;

        background-color: $secondary-color;

        border-radius: 5px;

        @media screen and (max-width: 480px) {
            max-width: 80%;
            min-width: 80%;
        }

        &-title {
            width: fit-content;
            
            display: inline-block;

            margin: 10px;

            position: relative;

            z-index: initial;

            &::after {
                content: "";

                width: 100%;
                height: 80%;

                display: inline-block;

                position: absolute;
                z-index: -1;
                top: 5px;
                left: 10px;
            }

            &.red::after {
                background-color: rgba(255, 0, 0, 0.5);
            }

            &.orange::after {
                background-color: rgba(255, 166, 0, 0.5);
            }

            &.green::after {
                background-color: rgba(0, 128, 0, 0.5);
            }
        }

        &-body {
            display: flex;
            flex-direction: column;
            align-items: stretch;

            flex: 1;
            gap: 20px;

            padding: 10px;
            padding-top: 25px;

            overflow-y: auto;
            overflow-x: hidden;

            .item {
                padding: 5px;

                background-color: $white;

                border-radius: 5px;
            }
        }
    }

    &__loading {
        height: 100%;

        display: flex;
        align-items: center;
        justify-content:center;

        svg {
            width: 30px;

            animation: loading 2s ease-in-out infinite;
        }
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}